<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="boardManu (member)">
        <div th:if="${member == null}">
            <a href="/login">로그인</a>
            <a href="/sign-up">회원가입</a>
        </div>
        <div th:unless="${member == null}">
            <b th:text="${member.loginId}">사용자</b>
            <a>님</a>
            <a href="/logout">로그아웃</a>
        </div>
</div>

<table th:fragment="boardMain (postHomes)">
    <thead>
    <tr><th>번호</th><th>작성자</th><th>제목</th><th>작성일</th></tr>
    </thead>
    <tbody>
    <tr th:each="postHome : ${postHomes}">
        <td th:text="${postHome.id}">번호</td>
        <td th:text="${postHome.loginId}">아이디</td>
        <td>
            <a th:if="${postHome.commentCount != 0}" th:href="@{/post/{param1}(param1=${postHome.id})}" th:text="${postHome.title + ' [' + postHome.commentCount + ']'}">게시글</a>
            <a th:unless="${postHome.commentCount != 0}" th:href="@{/post/{param1}(param1=${postHome.id})}" th:text="${postHome.title}">게시글</a>
        </td>
        <td th:text="${postHome.dateTime}">작성일</td>
    </tr>
    </tbody>
</table>

<div th:fragment="boardIndex (pageList, currentPage)">
    <a class="page-index" th:if="${pageList.get(0) != 1}" th:text="|<<|" th:href="@{/?page=1}"></a>
    <a class="page-index" th:if="${pageList.get(0) != 1}" th:text="|<|" th:href="@{/?page={page}(page=${pageList.get(0) - 1})}"></a>
    <th:block th:each="page : ${pageList}">
        <b th:if="${#strings.equals(page, currentPage)}"><a class="page-index" th:text="${page}" th:href="@{/?page={page}(page=${page})}"></a></b>
        <a class="page-index" th:unless="${#strings.equals(page, currentPage)}" th:text="${page}" th:href="@{/?page={page}(page=${page})}"></a>
    </th:block>
    <a class="page-index" th:if="${pageList.get(pageList.size() - 1) != totalPage}" th:text="|>|" th:href="@{/?page={page}(page=${pageList.get(pageList.size() - 1) + 1})}"></a>
    <a class="page-index" th:if="${pageList.get(pageList.size() - 1) != totalPage}" th:text="|>>|" th:href="@{/?page={page}(page=${totalPage})}"></a>
</div>

</body>
</html>