<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MYSITE - Home</title>
    <meta charset="utf-8">
    <style>
        table {
            width: 500px;
        }
        th, td {
            text-align: center;
        }
        .page-index {
            margin-left: 9px;
        }
    </style>
</head>
<body>
    <h1><a href="/">MYSITE</a></h1>
    <hr>
    <div th:replace="~{fragment/boardFragment :: boardManu (${member})}" />
    <hr>
    <div th:replace="~{fragment/boardFragment :: boardMain (${postHomes})}" />
    <hr>
    <div th:replace="~{fragment/boardFragment :: boardIndex (${pageList}, ${currentPage})}" />
    <hr>
    <a href="/post/write">글쓰기</a>
</body>
</html>