<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MYSITE - Home</title>
    <meta charset="utf-8">
    <style>
        table {
            width: 500px;
        }
        th, td {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1><a href="/">MYSITE</a></h1>
    <hr>
    <div>
        <a href="/login">로그인</a>
        <a href="/sign-up">회원가입</a>
    </div>
    <hr>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="postHome : ${postHomes}">
                <td th:text="${postHome.id}">번호</td>
                <td>
                    <a th:href="@{/post/{param1}(param1=${postHome.id})}" th:text="${postHome.title}">게시글</a>
                </td>
                <td th:text="${postHome.dateTime}">작성일</td>
            </tr>
        </tbody>
    </table>
    <a href="/write">글쓰기</a>
</body>
</html>