<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'MYSITE - ' + ${post.title}">Title</title>
    <meta charset="utf-8">
    <style>
        table {
            width: 500px;
        }
        th, td {
            text-align: center;
        }
        p {
            margin: 0;
        }
    </style>
</head>
<body>
<h1><a href="/">MYSITE</a></h1>
<hr>
<div>
    <b th:text="${member.loginId}">사용자</b>
    <a>님</a>
    <a href="/logout">로그아웃</a>
</div>
<hr>
<div><b th:text="${post.title}">제목</b></div>
<hr>
<div>
    <th:block th:each="content : ${contents}">
        <br th:if="${#strings.isEmpty(content)}" />
        <p th:unless="${#strings.isEmpty(content)}" th:text="${content}"></p>
    </th:block>
</div>
<hr>
<div>
    <form method="post">
        <input type="text">
        <button type="submit">댓글 쓰기</button>
    </form>
</div>
<div>이전 댓글</div>
<div>이전 댓글</div>
<div>이전 댓글</div>
<div>이전 댓글</div>
<div>이전 댓글</div>
<hr>
<div>
    <a th:if="${canEdit}" th:href="@{/post/{param1}/edit(param1=${post.id})}">수정</a>
    <a th:if="${canEdit}" th:href="@{/post/{param1}/delete(param1=${post.id})}">삭제</a>
    <a href="/">목록</a>
</div>
</body>
</html>